{% extends "base.html" %}

{% block content %}
<div id="page-organization">
    <div id="title-organization">
        Empresa
    </div>
    <div id="demostration-gif">
        <img src="/img/giphy.gif" alt="Gif de demostração">
    </div>
    <div id="sub-title-organization">
        Um pouco sobre nós
    </div>
    <div id="text-organization">
        O estúdio de design é especializado na criação visual de empresas e profissionais autônomos. Trata-se de uma empresa de capital fechado constituída de multi-talentosos designers, desenvolvedores web e profissionais de marketing. Design é fator fundamental no novo cenário competitivo mundial agregando valor e aumentando significativamente a qualidade percebida nos produtos e serviços. Ele agrega valor ao produto e desencadeia um processo de estímulos visuais tanto em seu cliente potencial quanto nos próprios funcionários criando uma marca forte e bem sucedida.
    </div>
    <div id="sub-title-organization">
        Tecnologias que ultilizamos
    </div>
    <div id="tecnologias">
        <div id="tecnologia">
            <div id="tecnologia-title">
                <img src="/img/logopsh.png" alt="logo photoshop">
                <h4>Adobe Photoshop</h4>
            </div>
            <div id="tecnologia-text">
                <p>O Adobe Photoshop é um editor de imagens profissional não apenas na edição de imagens, mas na arte digital como um todo, ultiliizados por muitos profissionais e empresas do mundo inteiro</p>
            </div>
        </div>
        <div id="tecnologia">
            <div id="tecnologia-title">
                <img src="/img/logoilu.png" alt="logo photoshop">
                <h4>Adobe Illustrator</h4>
            </div>
            <div id="tecnologia-text">
                <p>O Adobe Illustrator é um editor e criador de imagens,o Illustrator fornece resultados nas áreas de design de tipografia e gráfico de logotipo.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}