{% extends "base.html" %}

{% block content %}
<div id="page-projects">
    <div id="title-projects">
        Projetos
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <a href="?project=0" class="project-link" id="project0">
                    Projeto
                </a>
            </div>
            <div class="col-lg">
                <a href="?project=1" class="project-link" id="project1">
                    Projeto
                </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
                <a href="?project=2" class="project-link" id="project2">
                    Projeto
                </a>
            </div>
            <div class="col-lg">
                <a href="?project=3" class="project-link" id="project3">
                    Projeto
                </a>
            </div>
          </div>
    </div>
</div>
{% endblock %}