{% extends "base.html" %}

{% block content %}
<div>
    <div style="display: flex; align-items: center; justify-content: center;"> 
        <img src="/img/warning.gif" alt="em construção" width="220" height="300">
    </div>
    
    <p style="display: flex; align-items: center; justify-content: center; font-weight: bold; text-align: center;">Essa pagina ainda esta em constução pelos nossos desenvolvedores</p>

    <div style="display: flex; align-items: center; justify-content: center;"> 
        <img src="/img/PRETO.png" alt="logo softand" width="80" height="80">
    </div>
</div>
{% endblock %}